<div class="container">
  <h1 style="text-align: center">QnA List</h1>
  <button id="btnExport" onclick="javascript:xport.toCSV('QnAlist');">Download</button>
  <table class="table" id="QnAlist">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.question }}</td>
        <td>{{ book.answer }}</td>
        <td>{{ book.timestamp }}</td>
      </tr>
    </tbody>
  </table>
</div>